:root {
  --top: #1f2544;
  --btm: #4a106f;
  --bg: #161a2e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: white;
}

.container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}
.red-color {
  color: #fc2947;
}

/* NAVBAR */
#menu {
  display: none;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 5%;
  background-color: var(--top);
  border-bottom: 1px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.navbar .nav-logo img {
  width: 4rem;
}
.navbar .nav-main.active {
  right: 0%;
}
.navbar .nav-main a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: bold;
  transition: 2s;
}
.navbar .nav-main a:hover {
  text-decoration: underline;
}
.navbar .nav-extra a {
  color: white;
  font-size: 1.2rem;
}

/* FOOTER */
footer {
  color: white;
  text-align: center;
  padding: 1rem 0;
  margin-top: 1rem;
}
footer .social {
  padding: 1rem 0;
}
footer .social a {
  color: white;
  margin: 1rem;
  font-size: 1.4rem;
}
/* footer .social a:hover,
footer .links a:hover {
  color: var(--primary);
} */
footer .links {
  margin-bottom: 1.2rem;
}
footer .links a {
  color: white;
  padding: 0.7rem;
  font-size: 1.1rem;
}

.m-3 {
  margin: 1rem;
}
.ms-3 {
  margin-left: 1rem;
}
.m-auto {
  margin: auto;
}
.mt-3 {
  margin-top: 1rem;
}
.me-5 {
  margin-left: 3rem;
}
.mt-5 {
  margin-top: 3rem;
}
.mt-10 {
  margin-top: 6rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mb-3 {
  margin-bottom: 1rem;
}

.text-white {
  color: white;
}
.text-center {
  text-align: center;
}
.text-bold {
  font-weight: bold;
}
.d-block {
  display: block;
}
.d-inline-block {
  display: inline-block;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

@media (max-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 600px;
  }
  html {
    font-size: 93%;
  }
  #menu {
    display: block;
    font-size: 2rem;
    font-weight: bold;
  }
  .navbar {
    height: 72px;
  }
  .navbar .nav-main {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: whitesmoke;
    width: 25rem;
    height: 100vh;
    transition: 0.4s;
  }

  .navbar .nav-main.active {
    right: 0%;
  }

  .navbar .nav-main a {
    color: #010101;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1.6rem;
  }
}
/* 1300 <  */
@media (max-width: 1250px) {
  footer {
    color: white;
    text-align: center;
    padding: 0.6rem 0;
    margin-top: 1rem;
  }
  footer .social {
    padding: 0.6rem 0;
  }
  footer .social a {
    color: white;
    margin: 0.6rem;
    font-size: 1.4rem;
  }
  footer .links {
    margin-bottom: 0.8rem;
  }
  footer .links a {
    color: white;
    padding: 0.7rem;
    font-size: 1.1rem;
  }
}
/* 1300 <  */
@media (min-width: 1340px) {
  .container {
    max-width: 1310px;
  }
}
