:root {
  --top: #1f2544;
  --ext: #2e3761;
  --bg: #161a2e;
  --btm: #4a106f;
}
/* BEFORE CONTAINER */
.hot {
  margin-top: 5rem;
  background-image: url("../assets/news1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--bg);
  position: relative;
  display: flex;
  min-height: 100vh;
  margin-bottom: 3rem;
}
.header h1 {
  margin-top: 4rem;
  text-align: center;
  font-size: 3rem;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
}
.main-news {
  padding: 1.5rem;
  margin: 1.5rem auto 0 auto;
  background-color: var(--bg);
  max-width: 600px;
  max-height: 680px;
  border: solid 1px white;
  border-radius: 10px;
}
.main-news .news-img {
  text-align: center;
}
.main-news .news-img img {
  width: 500px;
  border-radius: 7px;
  border: solid 1px white;
}
.overlay .text small {
  margin-top: 1.4rem;
  margin-bottom: 1.2rem;
  font-size: 1rem;
}
.text h3 {
  font-size: 2.2rem;
}

/* AFTER CONTAINER */
.content {
  border: 1px solid var(--ext);
  border-radius: 5px;
  background-color: var(--top);
  margin-bottom: 1rem;
  padding: 1rem 1.2rem;
}
.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.news {
  display: inline-block;
  margin-top: 2rem;
  padding: 1rem;
  background-color: var(--bg);
  border-radius: 10px;
  min-width: 340px;
  transition: 0.4s;
}
.news:hover {
  background-color: #2e3761;
}
.news .text {
  max-width: 310px;
}
.news .text small {
  font-size: 0.8rem;
  margin-top: 0.6rem;
  margin-bottom: 1.2rem;
}
.news .text h3 {
  font-size: 1.4rem;
}
.news img {
  max-width: 320px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}
.mt-first-news {
  margin-top: 8rem;
}
h3 {
  margin-top: 0.8rem;
}
small {
  color: #ffffff89;
  margin-top: 3px;
  height: 6px;
}

@media (max-width: 768px) {
  .main-news {
    max-width: 500px;
    padding: 1rem;
    margin-top: 1rem;
  }
  .main-news img {
    max-width: 460px;
  }
  .news {
    min-width: 220px;
  }
  .container .content .content-wrapper .news img {
    max-width: 220px;
  }
  .news .text {
    max-width: 215px;
  }
  .container .content .content-wrapper .news .text h3 {
    font-size: 18px;
  }
  .container .content .content-wrapper .news .text small {
    font-size: 12px;
  }
  .container .content .content-wrapper .news small {
    margin-top: 0.6rem;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 1200px) {
  .header h1 {
    margin-top: 1rem;
  }
  .main-news {
    max-width: 500px;
    padding: 1rem;
    margin-top: 1rem;
  }
  .main-news .news-img img {
    width: 460px;
  }
  .overlay .text small {
    font-size: 0.8rem;
  }
  .overlay .text h3 {
    font-size: 1.4rem;
  }
  .news {
    min-width: 260px;
    width: 290px;
  }
  .news img {
    max-width: 260px;
  }
  .news .text h3 {
    font-size: 1.2rem;
  }
  small {
    height: 6px;
  }
}
