:root {
  --top: #1f2544;
  --ext: #2e3761;
  --bg: #161a2e;
  --btm: #4a106f;
}

.content {
  border: 1px solid var(--ext);
  border-radius: 5px;
  background-color: var(--top);
  margin-bottom: 1rem;
  padding: 1rem 1.2rem;
}
.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.news {
  display: inline-block;
  margin-top: 2rem;
  padding: 1rem;
  background-color: var(--bg);
  border-radius: 10px;
  min-width: 340px;
  transition: 0.4s;
}
.news:hover {
  background-color: #2e3761;
}
.news .text small {
  font-size: 1rem;
  margin-top: 0.6rem;
  margin-bottom: 1.2rem;
}
.news .text h3 {
  font-size: 1.4rem;
}
.news img {
  max-width: 320px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}
.mt-first-news {
  margin-top: 8rem;
}
h3 {
  margin-top: 0.8rem;
}
small {
  color: #ffffff89;
  margin-top: 3px;
  height: 6px;
}

@media (max-width: 768px) {
  .news {
    min-width: 220px;
  }
  .container .content .content-wrapper .news img {
    max-width: 220px;
  }
  .news .text {
    max-width: 215px;
  }
  .container .content .content-wrapper .news .text h3 {
    font-size: 18px;
  }
  .container .content .content-wrapper .news .text small {
    font-size: 12px;
  }
  .container .content .content-wrapper .news small {
    margin-top: 0.6rem;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 1200px) {
  .news img {
    width: 280px;
  }
  small {
    height: 6px;
  }
}
