:root {
  --top: #1f2544;
  --btm: #4a106f;
  --bg: #161a2e;
}

body {
  color: white;
}

.subs {
  margin-top: 5rem;
  background-image: url("../assets/subs2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--bg);
  position: relative;
  display: flex;
  min-height: 100vh;
}

.content {
  margin-top: 4rem;
  padding: 1.6rem;
}
.content h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 5rem;
}
.content h2 {
  text-align: center;
  font-size: 2rem;
}
.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 4rem;
}
.row .benefit {
  width: 350px;
  height: 350px;
  background-color: var(--top);
  display: flex;
  margin: 1.5rem 1rem 1rem 1.5rem;
  border-radius: 8px;
  border: 2px solid white;
  transition: 0.5s;
}
.text {
  text-align: center;
  margin: auto;
  font-weight: bold;
}
.text i {
  font-size: 3rem;
  font-weight: bolder;
}
.text p {
  font-size: 2rem;
}
.benefit:hover {
  background-color: var(--bg);
}
